@if (productDetailState.status() === 'loading') {
  <div class="loading">Cargando</div>
}
@else{
  <section class="py-8 bg-white md:py-16 border-2 rounded-lg border-[#c1a178] dark:border-[#c1a178] antialiased w-2/3 mx-auto">
    <div class="max-w-screen-md px-4 mx-auto 2xl:px-0">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
        <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
          <img class="w-full dark:hidden" [src]="productDetailState.product()?.image" alt="" />
          <img class="w-full hidden dark:block" [src]="productDetailState.product()?.image" alt="" />
        </div>

        <div class="mt-6 sm:mt-8 lg:mt-0">
          <h1
            class="text-xl font-semibold text-gray-700 sm:text-2xl dark:text-gray"
          >
            {{ productDetailState.product()?.title }}
          </h1>
          <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            <p
              class="text-2xl font-extrabold text-gray-500 sm:text-3xl dark:text-gray"
            >
            {{ productDetailState.product()?.price | currency }}
            </p>

          </div>

          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <button
              href="#"
              title=""
              class="text-gray mt-4 sm:mt-0 bg-[#c1a178] font-medium rounded-lg text-sm px-5 py-2.5 dark:hover:bg-gray-600 dark:focus:ring-primary-800 flex items-center justify-center"
              role="button"
              (click)="addToCart()"
            >
              <svg
                class="w-5 h-5 -ms-2 me-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
                />
              </svg>

              Añadir a la cesta
            </button>
          </div>

          <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

          <p class="mb-6 text-gray-500 dark:text-gray-400">
           {{ productDetailState.product()?.description}}
          </p>
        </div>
      </div>
    </div>
  </section>
}

