# Claves de Stripe
STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=

# Configuración de Email
EMAIL_SENDER_NAME=
SHOP_EMAIL=

# Dominio del frontend
YOUR_FRONTEND_DOMAIN=
# NODE_ENV=
# EMAIL_ENV=
PORT=


# Configuración SMTP para producción
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=


NODE_ENV=
EMAIL_ENV=
STRIPE_WEBHOOK_SECRET=
